/* Media Query */

/* Mobile Responsive */
@media screen and (max-width:688px) {
    .top-header,.content-area,.highlights-area, .search-area, .special, .informative-area{
        display: none;
    }
    .banner-area{ 
        overflow-x: hidden;
        width: 100%;
        height: 100%;
        /* grid-template-columns: repeat(1, fr); */
        flex-direction: column;
    }
}